---
layout: default
title: titles.home
navigation_weight: 1
---

<section class="index-hero">
    <div class="container">
        <div class="index-hero-heading">
            <h1>{% t index.title %}</h1>
            <h2>{% t index.subtitle %}</h2>
        </div>
    </div>
</section>
<section class="main-audience">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                <a class="main-audience-link" href="outgoing">
                    <div class="icon-container">
                        <img src="{{ site.baseurl_root }}/assets/icons/backpack.png" alt="Backpack">
                    </div>
                    <h2>{% t index.main_audience.outgoing.title %}</h2>
                    <p>{% t index.main_audience.outgoing.description %}</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="main-audience-link" href="incoming">
                    <div class="icon-container">
                        <img src={{ "/assets/icons/people-shaking-hands.png" | prepend: site.baseurl_root }} alt="Backpack">
                    </div>
                    <h2>{% t index.main_audience.incoming.title %}</h2>
                    <p>{% t index.main_audience.incoming.description %}</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="main-audience-link" href="employer">
                    <div class="icon-container">
                        <img src={{ "/assets/icons/suitcase.png" | prepend: site.baseurl_root }} alt="Backpack">
                    </div>
                    <h2>{% t index.main_audience.employer.title %}</h2>
                    <p>{% t index.main_audience.employer.description %}</p>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="what-is-iaeste text-center">
    <h1>{% t index.what_is_iaeste.title %}</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-push-4">
                <div class="logo-container">
                    <a href="iaeste"><img src={{ "/assets/images/logo_weiss.png" | prepend: site.baseurl_root }}  alt="IAESTE Logo big dark"></a>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-lg-offset-1 col-lg-3 text-left col-sm-pull-4">
                <div>
                    <h3>{% t index.what_is_iaeste.top_left.title %} <canvas class="separator-line-canvas canvas-top-left hidden-xs"></canvas></h3>
                    <p>{% t index.what_is_iaeste.top_left.description %}</p>
                </div>
                <div>
                    <h3>{% t index.what_is_iaeste.bottom_left.title %} <canvas class="separator-line-canvas canvas-bottom-left hidden-xs"></canvas></h3>
                    <p>{% t index.what_is_iaeste.bottom_left.description %}</p>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-lg-3 text-right">
                <div>
                    <h3>{% t index.what_is_iaeste.top_right.title %} <canvas class="separator-line-canvas canvas-top-right hidden-xs"></canvas></h3>
                    <p>{% t index.what_is_iaeste.top_right.description %}</p>
                </div>
                <div>
                    <h3>{% t index.what_is_iaeste.bottom_right.title %} <canvas class="separator-line-canvas canvas-bottom-right hidden-xs"></canvas></h3>
                    <p>{% t index.what_is_iaeste.bottom_right.description %}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="statistics hidden-xs">
  <div class="container">
    {% for statistic in site.translations[site.lang]["index"]["statistics"] %}
        <div class="statistic-container">
          <img src="{{ site.baseurl_root }}/assets/icons/{{ statistic.icon }}" alt="{{ statistic.icon_alt }}"><p><span>{{ statistic.value }}</span> {{ statistic.description }}</p>
        </div>
    {% endfor %}
  </div>
</section>

<section class="travel-reviews dark-bg information-section text-left">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5">
        <h2>{% t index.travel_reports.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t index.travel_reports.description %}</p>
        <a href="travel_reports" class="btn btn-primary" role="button">{% t index.travel_reports.button_label %}</a>
      </div>
    </div>
  </div>
</section>

<section class="discover-kiel white-bg text-right information-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 hidden-xs text-center content-center">
        <img class="information-icon" src={{ "/assets/icons/germany.png" | prepend: site.baseurl_root }} alt="Icon from germany">
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-offset-1 col-lg-5 col-lg-offset-2">
        <h2>{% t index.discover_kiel.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t index.discover_kiel.description %}</p>
        <a href="incoming" class="btn btn-primary" role="button">{% t index.discover_kiel.button_label %}</a>
      </div>
    </div>
  </div>
</section>

<section class="employer-information white-bg text-left information-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5">
        <h2>{% t index.employer_information.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t index.employer_information.description %}</p>
        <a href="employer" class="btn btn-primary" role="button">{% t index.employer_information.button_label %}</a>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2 hidden-xs text-center content-center">
        <img class="information-icon" src={{ "/assets/icons/bag-icon.png" | prepend: site.baseurl_root }}  alt="Icon of a bag">
      </div>
    </div>
  </div>
</section>

<section class="thick-separator-primary">
  <p>{% t index.newsletter.separator %}</p>
</section>

<section class="newsletter information-section white-bg text-left">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5">
        <h2>{% t index.newsletter.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t index.newsletter.description %}</p>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1 col-lg-offset-1 text-left">
        {% include mailchimp_signup_form.html %}
      </div>
    </div>
  </div>
</section>

{% include supporters.html %}
