.heading-separator {
  border-width: 2px;
  border-style: solid;
  width: 80px;
}

.short-heading-separator {
    border: 1px solid white;
    width: 50px;
    margin: 5px auto 10px 0;
}

.text-center .heading-separator {
  margin: 0 auto;
}

.text-right .heading-separator {
  margin: 0 0 0 auto;
}

.text-left .heading-separator {
  margin: 0 auto 0 0;
}
