<section class="contact-hero dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>{% t contact.contact %}</h1>
          <div class="row">
            <div class="col-xs-6 col-sm-12 col-md-6">
              <h3>{% t contact.postal_address %}</h3>
              <div class="short-heading-separator"></div>
              <p class="address">{{ site.postal_address }}</p>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-6">
              <h3>{% t contact.office_address %} <span class="badge hidden-xs">{% t contact.participate_badge %}</span></h3>
              <div class="short-heading-separator"></div>
              <p class="address">{{ site.office_address }}</p>
            </div>
          </div>
          <div class="contact-option">
            <img src="{{ site.baseurl_root }}/assets/icons/email-logo-white.png" alt="Email icon">
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </div>

          <div class="contact-option">
            <img src="{{ site.baseurl_root }}/assets/icons/facebook-logo-white.png" alt="Email icon">
            <a href="{{ site.facebook_site }}">IAESTE LC Kiel</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <h1>{% t contact.enquiry.title %}</h1>
          <form action="https://formspree.io/iaeste@uv.uni-kiel.de" method="POST">
            <div class="form-group">
              <label for="name-input">{% t contact.enquiry.name_label %}:</label>
              <input class="form-control" id="name-input" name="Name">
            </div>
            <div class="form-group">
              <label for="email-input">{% t contact.enquiry.email_label %}:</label>
              <input type="email" class="form-control" id="email-input" name="_replyto">
            </div>
            <div class="form-group">
              <label for="message-input">{% t contact.enquiry.message_label %}:</label>
              <textarea class="form-control" rows="4" id="message-input" name="Nachricht"></textarea>
            </div>
            <input type="hidden" name="_subject" value="Neue Anfrage!" />
            <input type="text" name="_gotcha" style="display:none" />
            <button type="submit" class="btn btn-complementary">{% t contact.enquiry.send_button %}</button>
          </form>
        </div>
      </div>
    </div>
</section>
