
<section class="horizontal-ruler-primary-color">
  <div class="container">
    <hr>
    <span>{% t supporters_separator %}:</span>
  </div>
</section>
<section class="supporters text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="https://www.uni-kiel.de/"><img class="supporter-logo" src="{{ site.baseurl_root }}/assets/icons/cau_kiel.png" alt=""></a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.daad.de/"><img class="supporter-logo" src="{{ site.baseurl_root }}/assets/icons/daad.png" alt=""></a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.auswaertiges-amt.de/"><img class="supporter-logo" src="{{ site.baseurl_root }}/assets/icons/auswaertiges_amt.gif" alt=""></a>
      </div>
      <div class="col-sm-3">
        <a href="www.fh-kiel.de"><img class="supporter-logo" src="{{ site.baseurl_root }}/assets/icons/fh_kiel.jpg" alt=""></a>
      </div>
    </div>
  </div>
</section>
