
<section class="horizontal-ruler-primary-color">
  <div class="container">
    <hr>
    <span>{% t supporters_separator %}:</span>
  </div>
</section>
<section class="supporters text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="supporter-logo" src={{ "/assets/icons/cau_kiel.png" | prepend: site.baseurl_root }}  alt="">
      </div>
      <div class="col-sm-3">
        <img class="supporter-logo" src={{ "/assets/icons/daad.png" | prepend: site.baseurl_root }} alt="">
      </div>
      <div class="col-sm-3">
        <img class="supporter-logo" src={{ "/assets/icons/auswaertiges_amt.gif" | prepend: site.baseurl_root }} alt="">
      </div>
      <div class="col-sm-3">
        <img class="supporter-logo" src={{ "/assets/icons/fh_kiel.jpg" | prepend: site.baseurl_root }} alt="">
      </div>
    </div>
  </div>
</section>
