
<section class="horizontal-ruler">
  <div class="container">
    <hr>
    <span>Unterstützt durch:</span>
  </div>
</section>
<section class="supporters text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="supporter-logo" src="assets/icons/cau_kiel.png" alt="">
      </div>
      <div class="col-sm-3">
        <img class="supporter-logo" src="assets/icons/daad.png" alt="">
      </div>
      <div class="col-sm-3">
        <img class="supporter-logo" src="assets/icons/auswaertiges_amt.gif" alt="">
      </div>
      <div class="col-sm-3">
        <img class="supporter-logo" src="assets/icons/fh_kiel.jpg" alt="">
      </div>
    </div>
  </div>
</section>
