<section class="bright-bg text-center last-section">
  <h2>{% t something_unclear.title %}</h2>
  <p>{% t something_unclear.description %}</p>
  <a href="{{ site.baseurl }}/faq" class="btn btn-sq-lg btn-primary">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><br/>
    {% t something_unclear.buttons.faq %}
  </a>
  <a href="mailto:{{ site.email }}" class="btn btn-sq-lg btn-primary">
    <span class="glyphicon glyphicon-send" aria-hidden="true"></span><br/>
    {% t something_unclear.buttons.email %}
  </a>

  <a href="{{ site.baseurl }}/contact" class="btn btn-sq-lg btn-primary">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br/>
    {% t something_unclear.buttons.contact %}
  </a>


</section>
