$primary-color: #00416C;
$primary-color-paletton-1: #005288;
$primary-color-paletton-2: #0068AC;

$primary-complementary-color: #F5A623;
$header-gradient-start-color: #001b2c;
$header-gradient-end-color: #0e3f5d;

$dark-h2-header-color: #4A4A4A;
$dark-p-color: #7C7C7C;

$section-background-color: #F1F1F1;

$default-transition-duration: 0.3s;

$footer-height: 50px;