$primary-color: #00416C;
$header-gradient-start-color: #001b2c;
$header-gradient-end-color: #0e3f5d;

$dark-h2-header-color: #4A4A4A;
$dark-p-color: #9B9B9B;

$section-background-color: #F1F1F1;

$default-transition-duration: 0.3s;