section.index-hero {
  background: url(../images/index_hero_tiny.jpg) no-repeat 63% center;
  background-size: cover;

  height: calc(92vh - #{$navbar-height});
  padding: 30px;

  & > div {
    height: 100%;
    position: relative;
  }
}

.index-hero-heading {
  position: absolute;
  bottom: $navbar-height;

  color: white;
  margin: 0;

  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 64px;
    color: white;
  }

  h2 {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 300;
    line-height: 50px;
    margin-top: 0;
    max-width: 580px;
    color: white;
  }

  @media screen and (max-width: $screen-xs-max) {
    bottom: $navbar-height / 2;

    h1 {
      font-size: 34px;
    }

    h2 {
      font-size: 18px;
      line-height: 30px;
      max-width: 400px;
    }
  }
}

section.main-audience {
  padding: 40px 0;

  p {
    color: $dark-p-color;
    width: 75%;
    margin: 0 auto;
    font-weight:bold;
  }

  .icon-container {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 130px;
  }
}

section.what-is-iaeste {
  padding: 30px;
  background: $section-background-color;

  h1 {
    margin-bottom: 50px;
  }

  .logo-container img {
      width: 80%;
      filter: brightness(25%);
  }

  .separator-line-canvas {
    position: absolute;

    &.canvas-top-left {
      top: 26px;
      left: -11px;
    }

    &.canvas-top-right {
      top: 26px;
      right: -11px;
      transform: scaleX(-1);
    }

    &.canvas-bottom-left {
      bottom: -5px;
      left: -11px;
      transform: scaleY(-1);
    }

    &.canvas-bottom-right {
      bottom: -5px;
      right: -11px;
      transform: scale(-1, -1);
    }

  }

  h3 {
    position: relative;
  }
}
