section.outgoing-hero {
  background: url(../images/wanderlust_tiny.jpg) no-repeat center center;
  background-size: cover;

  height: calc(100vh - #{$navbar-height});
  padding: 30px 0;
  position: relative;
}
section.general-outgoing-information {
  .heading-separator {
    margin-left: 0;
  }

  .btn {
    margin: 20px auto 20px 0;
  }
}

.well-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.application-step {

  .row {
    display: flex;
    .row {
      flex-wrap: wrap;
    }

    &:before, &:after {
      content: normal;
    }
  }

  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-top: 30px;
  }

  p {
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .application-step-column {
    position: relative;
  }

  .application-step-number {
    text-align: center;
    line-height: 45px;
    font-size: 2em;
    color: white;
    font-weight: bold;
    position: absolute;
    width: 50px;
    background: $primary-color;
    height: 50px;
    left: 50%;
    top: 21px;
    transform: translateX(-50%);
    border-radius: 25px;
    z-index: 2;
    border: 3px solid #0079B9;

    @media screen and (max-width: $screen-xs-max) {
      height: 35px;
      width: 35px;
      line-height: 31px;
      font-size: 1.5em;
      top: 28px;
    }
  }

  .application-step-vertical-line {
    position: absolute;
    background: $primary-color;
    width: 5px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .well {
    background: #DDE8F5;
    border-color: $primary-color;
    color: $primary-color;
    margin-top: 30px;
    width: 100%;

    span {
      font-weight: bold;
    }

    p {
      font-weight: 300;
      margin: 0px 0 40px;
    }

    a {
      font-weight: 300;
    }

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 0;
    }
  }

  &.step-margin-top .application-step-vertical-line {
    top: 50px;
  }

  &.step-margin-bottom .application-step-vertical-line {
    height: 50px;
  }
}

section.remaining-offers {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .row div:nth-child(2) {
    justify-content: center;
  }

  a {
    font-size: inherit;
    line-height: inherit;
  }
}
