---
layout: default
title: Kontakt
navigation_weight: 7
permalink: /contact/
---
{% include address_enquiry.html %}

<main class="why-participate">

  {% assign reasons = site.translations[site.lang]["why_participate"]["reasons"] %}

  <section class="text-center">
    <h1>{% t why_participate.title %}</h1>
    <div class="horizontal-ruler-gray">
      <div class="container">
        <hr>
        <span>{{ reasons | size }} {% t why_participate.x_reasons %}</span>
      </div>
    </div>
  </section>

  {% for reason in reasons %}

    {% assign modulo = forloop.index | modulo: 2 %}    
    {% if modulo == 1 %}
      {% assign background = 'white-bg' %}
      {% assign text-direction = 'text-left' %}
    {% else %}
      {% assign background = 'bright-bg' %}
      {% assign text-direction = 'text-right' %}
    {% endif %}

    {% capture title %}{{ forloop.index }}. {{ reason.title }}{% endcapture %}

    {% capture icon-link %}{{ site.baseurl_root }}/assets/icons/{{ reason.icon }}{% endcapture %}
    
    {% capture icon-tag %} 
      <img class="information-icon" src="{{ icon-link }}" alt="{{ reason.icon_alt }}"> 
    {% endcapture %}

    {% capture text %}
      <h2>{{ title }}</h2>
      <div class="heading-separator"></div>
      <p>{{ reason.description }}</p>
    {% endcapture %}

    {% if forloop.last == false %}
      <section class="{{ background }} {{ text-direction }} information-section">
        <div class="container">
          <div class="row">
          {% if modulo == 1 %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5"> {{ text }} </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2 hidden-xs text-center content-center"> {{ icon-tag }} </div>
          {% else %}
            <div class="col-sm-6 col-md-5 hidden-xs text-center content-center"> {{ icon-tag }} </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-offset-1 col-lg-5 col-lg-offset-2"> {{ text }}</div>
          {% endif %}
          </div>
        </div>
      </section>
    {% else %}
      <section class="{{ background }} text-center last-section">
        <h2>{{ title }}</h2>
        <div class="heading-separator"></div>
        <p>{{ reason.description }}</p>
        <a href="/travel_reports" class="btn btn-sq-lg btn-primary"> 
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span><br/> 
          {% t why_participate.buttons.reports %}
        </a>

        <a href="/faq" class="btn btn-sq-lg btn-primary">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><br/>
          {% t something_unclear.buttons.faq %}
        </a>

        <a href="mailto:{{ site.email }}" class="btn btn-sq-lg btn-primary">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span><br/>
          {% t why_participate.buttons.email %}
        </a>

      </section>
    {% endif %}
  {% endfor %}

</main>
