---
layout: default
title: Kontakt
navigation_weight: 7
permalink: /contact
---
<section class="contact-hero dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Kontakt</h1>
          <div class="row">
            <div class="col-xs-6 col-sm-12 col-md-6">
              <h3>Postadresse</h3>
              <div class="short-heading-separator"></div>
              <p class="address">Westring 304<br>24043 Kiel<br>Germany</p>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-6">
              <h3>Büroadresse <span class="badge hidden-xs">Mach Mit
  </span></h3>
              <div class="short-heading-separator"></div>
              <p class="address">Westring 304<br>24043 Kiel<br>Germany</p>
            </div>
          </div>
          <div class="contact-option">
            <img src="{{ site.baseurl_root }}/assets/icons/email-logo-white.png" alt="Email icon">
            <a href="mailto:iaeste@uv.uni-kiel.de">iaeste@uv.uni-kiel.de</a>
          </div>

          <div class="contact-option">
            <img src="{{ site.baseurl_root }}/assets/icons/facebook-logo-white.png" alt="Email icon">
            <a href="https://www.facebook.com/iaestelckiel/">IAESTE LC Kiel</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <h1>Anfrage</h1>
          <form>
            <div class="form-group">
              <label for="name-input">Name:</label>
              <input class="form-control" id="name-input">
            </div>
              <div class="form-group">
                <label for="email-input">Email:</label>
                <input type="email" class="form-control" id="email-input">
              </div>
            <div class="form-group">
              <label for="message-input">Nachricht:</label>
              <textarea class="form-control" rows="4" id="message-input"></textarea>
            </div>
            <button type="submit" class="btn btn-complementary">Absenden</button>
          </form>
        </div>
      </div>
    </div>
</section>
<main class="why-participate">
  <section class="text-center">
    <h1>Warum mitmachen?</h1>
    <div class="horizontal-ruler-gray">
      <div class="container">
        <hr>
        <span>10 Gründe</span>
      </div>
    </div>
  </section>

  {% assign reasons = site.translations[site.lang]["why-participate"] %}
  {% for reason in reasons %}

    {% assign modulo = forloop.index | modulo: 2 %}    
    {% if modulo == 1 %}
      {% assign background = 'white-bg' %}
      {% assign text-direction = 'text-left' %}
    {% else %}
      {% assign background = 'bright-bg' %}
      {% assign text-direction = 'text-right' %}
    {% endif %}

    {% capture title %}{{ forloop.index }}. {{ reason[1].title }}{% endcapture %}
    {% capture icon-link %}{{ site.baseurl_root }}/assets/icons/{{ reason[1].icon }}{% endcapture %}
    
    {% capture icon-tag %} 
      <img class="information-icon" src="{{ icon-link }}" alt="{{ reason[1].icon_alt }}"> 
    {% endcapture %}

    {% capture text %}
      <h2>{{ title }}</h2>
      <div class="heading-separator"></div>
      <p>{{ reason[1].description }}</p>
    {% endcapture %}

    {% if forloop.last == true %}
      <section class="{{ background }} text-center last-section">
        <h1>{{ title }}</h1>
        <p>{{ reason[1].description }}</p>
        <a href="#" class="btn btn-sq-lg btn-primary"> 
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span><br/> 
          Berichte
        </a>

        <a href="#" class="btn btn-sq-lg btn-primary">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br/>
          Galerie
        </a>

        <a href="mailto:iaeste@uv.uni-kiel.de" class="btn btn-sq-lg btn-primary">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span><br/>
          Email
        </a>

      </section>
    {% else %}
      <section class="{{ background }} {{ text-direction }} information-section">
        <div class="container">
          <div class="row">
          {% if modulo == 1 %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5 text-container"> {{ text }} </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2 hidden-xs text-center"> {{ icon-tag }} </div>
          {% else %}
            <div class="col-sm-6 col-md-5 hidden-xs text-center"> {{ icon-tag }} </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-offset-1 col-lg-5 col-lg-offset-2 text-container"> {{ text }}</div>
          {% endif %}
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}

</main>
