---
layout: default
title: titles.employer
permalink: /employer/
navigation_weight: 5
---

<section class="employer-hero">
  <div class="blue-bottom-badge">
    <div class="container">
      <h1>{% t employer.title %}</h1>
      <h2>{% t employer.subtitle %}</h2>
    </div>
  </div>
</section>

<section class="general-employer-information information-section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-6 text-left">
        <h2>{% t employer.general_information.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t employer.general_information.description %}</p>
        <a href="{{ site.baseurl_root }}/assets/documents/IAESTE_Weltweiter_Praktikantenaustausch-Allgemein.pdf">{% t employer.general_information.button_1.title %}</a>
        <a href="{{ site.baseurl_root }}/assets/documents/IAESTE_Hinweise_fuer_Arbeitgeber.pdf">{% t employer.general_information.button_2.title %}</a>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-2 well-column">
        <div class="well text-left">
          <h4>{% t outgoing.in_a_nutshell.title %}:</h4>
          <ul>
            {% for point in site.translations[site.lang]["outgoing"]["in_a_nutshell"]["points"] %}
            <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center">
  <div class="horizontal-ruler-gray">
    <div class="container">
      <hr>
      <span>{% t employer.process_title %}</span>
    </div>
  </div>
</section>

{% assign employer_steps = site.translations[site.lang]["employer"]["process"] %}
{% for step in employer_steps %}

  {% assign modulo = forloop.index | modulo: 2 %}
  {% if modulo == 1 %}
    {% assign background = 'white-bg' %}
  {% else %}
    {% assign background = 'bright-bg' %}
  {% endif %}

  {% if forloop.first == true %}
    {% assign boundry = "step-margin-top" %}
  {% elsif forloop.last == true %}
    {% assign boundry = "step-margin-bottom" %}
  {% else %}
    {% assign boundry = "" %}
  {% endif %}

  <section class="application-step {{ background }} text-left {{ boundry }}">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-1 application-step-column">
          <div class="application-step-number">{{ forloop.index }}</div>
          <div class="application-step-vertical-line"> </div>
        </div>
        <div class="col-xs-10 col-sm-11">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-6">
              <h2>{{ step.month }}</h2>
              <div class="heading-separator"></div>
              <p>{{ step.description }}</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-2 well-column">
              {% assign employer_task = step.employer_task %}
              {% if employer_task != null %}
                <div class="well">
                  <span>{% t employer.employer_task_headline %}</span>
                  <p>{{ employer_task }}</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endfor %}

<section class="text-center">
  <div class="horizontal-ruler-gray">
    <div class="container">
      <hr>
      <span>{% t employer.task_sharing.title %}</span>
    </div>
  </div>
</section>

<section class="approach-section">
  <div class="container">
    <div class="row">

      {% assign entities_responsible = site.translations[site.lang]["employer"]["task_sharing"]["entities_responsible"] %}
      {% for entity in entities_responsible %}

        <div class="col-xs-12 col-sm-4">
          <h2>{{ entity.title }}</h2>
          <ul>
          {% for point in entity.points %}
            <li>{{ point }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="thick-separator-primary">
  <p>{% t employer.offer_internhsip_separator %}</p>
  <p></p>
</section>

<section class="information-section offer-internhsip white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5">
        <h2>{% t employer.offer_internhsip.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t employer.offer_internhsip.description %}</p>
        <a href="{{ site.baseurl_root }}/assets/documents/ANGEBOTSFORMULAR_IAESTE_fuer_Arbeitgeber.pdf">{% t employer.offer_internhsip.title_button_1 %}</a>
        <a href="https://www.iaeste.de/employers?page=onlineform_link">{% t employer.offer_internhsip.title_button_2 %}</a>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2 hidden-xs text-center content-center">
        <img class="information-icon" src="{{ site.baseurl_root }}/assets/icons/soft_skill.png"  alt="Image of two people shaking hands">
      </div>
    </div>
  </div>
</section>

<section class="bright-bg text-center last-section">
  <h2>{% t something_unclear.title %}</h2>
  <p>Dann schauen Sie in der FAQ Abteilung vorbei, schreiben uns eine Email oder kommen einfach bei uns im Büro vorbei!</p>
  <a href="/faq" class="btn btn-sq-lg btn-primary">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><br/>
    {% t something_unclear.buttons.faq %}
  </a>
  <a href="mailto:{{ site.email }}" class="btn btn-sq-lg btn-primary">
    <span class="glyphicon glyphicon-send" aria-hidden="true"></span><br/>
    {% t something_unclear.buttons.email %}
  </a>

  <a href="/contact" class="btn btn-sq-lg btn-primary">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br/>
    {% t something_unclear.buttons.contact %}
  </a>


</section>
