---
layout: default
title: Incoming
navigation_weight: 4
permalink: /incoming/
---

<section class="incoming-hero">
  <div class="container-fluid">
    <div id="incoming-hero-carousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        {% for picture in site.translations[site.lang]["incoming"]["hero_pictures"] %}
          {% if forloop.first == true %}
            {% assign active = "active" %}
          {% else %}
            {% assign active = "" %}
          {% endif %}
            <div class="item {{ active }}">
              <style type="text/css">
                #carousel_image_{{ forloop.index0 }} {
                  background: url({{ site.baseurl_root }}/assets/images/incoming-carousel/{{ picture.filename }}) no-repeat center center;
                  background-size: cover;
                  width: 100%;
                  height: 100%;
                }
              </style>

              <div class="carousel-image" id="carousel_image_{{ forloop.index0 }}"></div>

              <div class="blue-bottom-badge">
                <div class="container">
                  <h1>{{ picture.title }}</h1>
                  <h2>{{ picture.description }}</h2>
                </div>
              </div>

            </div>
        {% endfor %}
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#incoming-hero-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{% t incoming.control_left %}</span>
      </a>
      <a class="right carousel-control" href="#incoming-hero-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{% t incoming.control_right %}</span>
      </a>
    </div>
  </div>
</section>

<section class="information-section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5">
        <h2>{% t incoming.general_information.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t incoming.general_information.description %}</p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2 hidden-xs text-center content-center">
        <img class="information-icon" src="{{ site.baseurl_root }}/assets/icons/germany.png"  alt="Image of german map">
      </div>
    </div>
  </div>
</section>
<!-- 
<section class="thick-separator-primary">
  <p>{% t incoming.after_acceptance_separator.line_1 %}</p>
  <p>{% t incoming.after_acceptance_separator.line_2 %}</p>
</section>

{% assign incoming_steps = site.translations[site.lang]["incoming"]["process"] %}
{% for step in incoming_steps %}

  {% assign modulo = forloop.index | modulo: 2 %}
  {% if modulo == 1 %}
    {% assign background = 'white-bg' %}
  {% else %}
    {% assign background = 'bright-bg' %}
  {% endif %}

  {% if forloop.first == true %}
    {% assign boundry = "step-margin-top" %}
  {% elsif forloop.last == true %}
    {% assign boundry = "step-margin-bottom" %}
  {% else %}
    {% assign boundry = "" %}
  {% endif %}

  <section class="application-step {{ background }} text-left {{ boundry }}">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-1 application-step-column">
          <div class="application-step-number">{{ forloop.index }}</div>
          <div class="application-step-vertical-line"> </div>
        </div>
        <div class="col-xs-10 col-sm-11">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-6">
              <h2>{{ step.title }}</h2>
              <div class="heading-separator"></div>
              <p>{{ step.description }}</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-2 well-column">
              {% if step.note != null %}
                <div class="well">
                  <span>{{ step.note }}</span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endfor %} -->

<section class="text-center">
  <div class="horizontal-ruler-gray">
    <div class="container">
      <hr>
      <span>{% t incoming.arrival.separator %}</span>
    </div>
  </div>
</section>

<section class="approach-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>{% t incoming.arrival.plane.title %}</h2>
        <p>{% t incoming.arrival.plane.description %}>

        </details> %}</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>{% t incoming.arrival.train.title %}</h2>
        <p>{% t incoming.arrival.train.description %}</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>{% t incoming.arrival.car.title %}</h2>
        <p>{% t incoming.arrival.car.description %}</p>
      </div>
    </div>
  </div>
</section>


<section class="thick-separator-primary">
  <p>{% t incoming.separator_2.line_1 %}</p>
  <p>{% t incoming.separator_2.line_2 %}</p>
</section>


<section class="information-section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5">
        <h2>{% t incoming.accommodation.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t incoming.accommodation.description %}</p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2 hidden-xs text-center content-center">
        <img class="information-icon" src="{{ site.baseurl_root }}/assets/icons/germany.png"  alt="Image of german map">
      </div>
    </div>
  </div>
</section>

{% include unclear.html %}
