---
layout: default
title: Incoming
navigation_weight: 4
permalink: /incoming
---

<section class="incoming-hero">
  <div class="container-fluid">
    <div id="incoming-hero-carousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        {% for picture in site.translations[site.lang]["incoming"]["hero_pictures"] %}
          {% if forloop.first == true %}
            {% assign active = "active" %}
          {% else %}
            {% assign active = "" %}
          {% endif %}
            <div class="item {{ active }}">
              <style type="text/css">
                #carousel_image_{{ forloop.index0 }} {
                  background: url({{ site.baseurl_root }}/assets/images/incoming-carousel/{{ picture.filename }}) no-repeat center center;
                  background-size: cover;
                  width: 100%;
                  height: 100%;
                }
              </style>

              <div class="carousel-image" id="carousel_image_{{ forloop.index0 }}"></div>

              <div class="blue-bottom-badge">
                <div class="container">
                  <h1>{{ picture.title }}</h1>
                  <h2>{{ picture.description }}</h2>
                </div>
              </div>

            </div>
        {% endfor %}
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#incoming-hero-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{% t incoming.control_left %}</span>
      </a>
      <a class="right carousel-control" href="#incoming-hero-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{% t incoming.control_right %}</span>
      </a>
    </div>
  </div>
</section>

<section class="information-section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5">
        <h2>{% t incoming.general_information.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t incoming.general_information.description %}</p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2 hidden-xs text-center content-center">
        <img class="information-icon" src="{{ site.baseurl_root }}/assets/icons/germany.png"  alt="Image of german map">
      </div>
    </div>
  </div>
</section>

<section class="thick-separator-primary">
  <p>Nach der Akzeptierung</p>
  <p>Erste Schritte</p>
</section>

{% assign incoming_steps = site.translations[site.lang]["incoming"]["process"] %}
{% for step in incoming_steps %}

  {% assign modulo = forloop.index | modulo: 2 %}
  {% if modulo == 1 %}
    {% assign background = 'white-bg' %}
  {% else %}
    {% assign background = 'bright-bg' %}
  {% endif %}

  {% if forloop.first == true %}
    {% assign boundry = "step-margin-top" %}
  {% elsif forloop.last == true %}
    {% assign boundry = "step-margin-bottom" %}
  {% else %}
    {% assign boundry = "" %}
  {% endif %}

  <section class="application-step {{ background }} text-left {{ boundry }}">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-1 application-step-column">
          <div class="application-step-number">{{ forloop.index }}</div>
          <div class="application-step-vertical-line"> </div>
        </div>
        <div class="col-xs-10 col-sm-11">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-6">
              <h2>{{ step.title }}</h2>
              <div class="heading-separator"></div>
              <p>{{ step.description }}</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-2 well-column">
              {% if step.note != blank %}
                <div class="well">
                  <span>{{ step.note }}</span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endfor %}

<section class="text-center">
  <div class="horizontal-ruler-gray">
    <div class="container">
      <hr>
      <span>Anfahrt</span>
    </div>
  </div>
</section>

<section class="approach-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>Flugzeug</h2>
        <p>Die beste Möglichkeit nach Kiel zu kommen, ist nach Hamburg Airport (HAM) zu fliegen. Von dort fährt ein Flughafenbus direkt nach Kiel zum Hauptbahnhof: Kielius Bei der Planung der Weiterreise vom Flughafen nach Kiel sind wir gerne behilflich. Auf den Seiten der Deutschen Bahn kann man sich passende Verbindungen heraussuchen.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>Bahn</h2>
        <p>Durch die Anbindung Kiels an das internationale Hochgeschwindigkeitsnetz ist in einigen Fällen eine Anreise per Bahn möglich. Auf den Seiten der europäischen Bahngesellschaften und der Deutschen Bahn kann man sich passende Verbindungen heraussuchen.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>Auto</h2>
        <p>Kiel ist an das deutsche Autobahnnetz angebunden. Europaweite Routenempfehlungen bekommt man hier. Wir empfehlen jedoch, nicht mit dem Auto anzureisen, da es in Kiel relativ wenige Parkplätze gibt. Außerdem benötigt man in Kiel kein Auto im Alltag, da alles einfach zu Fuß erreichbar ist.</p>
      </div>
    </div>
  </div>
</section>


<section class="thick-separator-primary">
  <p>Nun bin ich in Kiel</p>
  <p>Und dann?</p>
</section>


<section class="information-section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-lg-5">
        <h2>Unterkunft</h2>
        <div class="heading-separator"></div>
        <p>Sofern nichts anderes in den IAESTE-Unterlagen vermerkt ist, sind wir verantwortlich für die Organisation einer Unterkunft. Wir suchen preiswerte, möblierte Zimmer und mieten diese für die Dauer deines Praktikums. Die Miete liegt bei etwa 250 EUR, kann aber auch günstiger sein. Die Zimmer sind mindestens mit einem Bett, Schrank/Regal, Tisch und Stuhl ausgestattet, außerdem gibt es Zugang zu einer Küche und zu Dusche/WC. In vielen Zimmern gibt es einen Internetanschluss, dies können wir allerdings nicht garantieren.

Die entsprechende Miete musst du selbst bezahlen. Du musst zusätzlich beim Einzug eine Kaution in Höhe von 50 EUR bei uns hinterlegen, die du später beim Auszug wieder von uns zurückerhälst, sofern in der Wohnung alles in Ordnung ist.

Bettbezüge und Handtücher müssen mitgebracht werden!</p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2 hidden-xs text-center content-center">
        <img class="information-icon" src="{{ site.baseurl_root }}/assets/icons/germany.png"  alt="Image of german map">
      </div>
    </div>
  </div>
</section>

{% include unclear.html %}
