---
layout: default
title: titles.outgoing
navigation_weight: 3
permalink: /outgoing/
---

<section class="outgoing-hero">
  <div class="blue-bottom-badge">
    <div class="container">
      <h1>{% t outgoing.title %}</h1>
      <h2>{% t outgoing.subtitle %}</h2>
    </div>
  </div>
</section>

<section class="general-outgoing-information information-section white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-6 text-left">
        <h2>{% t outgoing.general_information.title %}</h2>
        <div class="heading-separator"></div>
        <p>{% t outgoing.general_information.description %}</p>
        <a class="btn btn-complementary" href="/travel_reports">{% t outgoing.general_information.button %}</a>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-2 well-column">
        <div class="well text-left">
          <h4>{% t outgoing.in_a_nutshell.title %}:</h4>
          <ul>
            {% for point in site.translations[site.lang]["outgoing"]["in_a_nutshell"]["points"] %}
            <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center">
  <div class="horizontal-ruler-gray">
    <div class="container">
      <hr>
      <span>{% t outgoing.process_title %}</span>
    </div>
  </div>
</section>

  {% assign outgoing_steps = site.translations[site.lang]["outgoing"]["process"] %}
  {% for step in outgoing_steps %}

    {% assign modulo = forloop.index | modulo: 2 %}
    {% if modulo == 1 %}
      {% assign background = 'white-bg' %}
    {% else %}
      {% assign background = 'bright-bg' %}
    {% endif %}

    {% if forloop.first == true %}
      {% assign boundry = "step-margin-top" %}
    {% elsif forloop.last == true %}
      {% assign boundry = "step-margin-bottom" %}
    {% else %}
      {% assign boundry = "" %}
    {% endif %}

    <section class="application-step {{ background }} text-left {{ boundry }}">
      <div class="container">
        <div class="row">
          <div class="col-xs-2 col-sm-1 application-step-column">
            <div class="application-step-number">{{ forloop.index }}</div>
            <div class="application-step-vertical-line"> </div>
          </div>
          <div class="col-xs-10 col-sm-11">
            <div class="row">
              <div class="col-xs-12 col-sm-7 col-md-6">
                <h2>{{ step.month }}</h2>
                <div class="heading-separator"></div>
                <p>{{ step.description }}</p>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-2 well-column">
                {% assign applicant_task = step.applicant_task %}
                {% if applicant_task != "" %}
                  <div class="well">
                    <span>{% t outgoing.applicant_task_headline %}</span>
                    <p>{{ applicant_task }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endfor %}

<section class="thick-separator-primary">
  <p>{% t outgoing.missed_application.question %}</p>
  <p>{% t outgoing.missed_application.answer %}</p>
</section>
<section class="remaining-offers information-section white-bg text-left">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>{% t outgoing.remaining_offers.title %}</h2>
        <div class="heading-separator"></div>

        {% for paragraph in site.translations[site.lang]["outgoing"]["remaining_offers"]["paragraphs"] %}
        <p>{{ paragraph }}</p>
        {% endfor %}

      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">

      </div>
    </div>
  </div>
</section>

{% include unclear.html %}
