---
layout: default
title: Travel Reports
permalink: /travel_reports
---

<main class="travel-reports-section">
  <div class="container">
    <div class="visible-xs col-xs-12 dropdown">
      <button class="btn btn-complementary" type="button" id="report-dropdown" data-toggle="collapse" aria-haspopup="true" data-target="#reports-collapse" aria-expanded="false">
        {% t travel_reports.title %}
        <span class="caret"></span>
      </button>
      <div class="collapse navbar-collapse" id="reports-collapse" aria-expanded="false">
        <ul class="nav navbar-nav">
          {% for report in site.data.travel_reports %}
            <li><a class="dropdown-report-link" data-report-id="report_{{forloop.index0}}" href="#">{{ report.where }}, {{ report.when }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>
    <div class="hidden-xs col-xs-12 col-sm-5 col-md-4 reports-list">

      {% for report in site.data.travel_reports %}

        {% assign modulo = forloop.index0 | modulo: 2 %}


        {% if modulo == 0 %}
          <div class="flex-container">
        {% endif %}


          <div class="report-item">
            <div class="background-image" style="background-image: url({{ site.baseurl_root }}/assets/travel-reports/{{ report.folder }}/thumb.jpg)"></div>
            <div class="blue-bottom-badge">
              <h1 id="report_{{forloop.index0}}_location">{{ report.where }}</h1>
              <h2><span id="report_{{forloop.index0}}_gender">{{ report.gender }}</span>, <span id="report_{{forloop.index0}}_when">{{ report.when }}</span></h2>
            </div>
            <div class="hover-dummy" id="report_{{forloop.index0}}"
              data-report-location="{{ report.where }}"
              data-report-gender="{{ report.gender }}"
              data-report-when="{{ report.when }}"
              data-report-text="{{ report.teaser_text }}"
              data-report-pdf="{{ site.baseurl_root }}/assets/travel-reports/{{ report.folder }}/report.pdf"
              data-report-image="{{ site.baseurl_root }}/assets/travel-reports/{{ report.folder }}/hero.jpg"
            ></div>
          </div>

        {% if modulo == 1 or forloop.last == true %}
          </div>
        {% endif %}


      {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-7 col-sm-offset-0 col-md-6 col-md-offset-1">
      <div class="well text-left">
        <h1 id="report-heading">{% t travel_reports.title %}</h1>
        <p id="report-subheading"></p>
        <p id="report-text"></p>
        <a id="report-pdf-button" class="hidden btn btn-complementary" href="" target="_blank">{% t travel_reports.read_on_button %}</a>
      </div>
    </div>
  </div>
</main>
