footer {
  @include gradient-horizontal($header-gradient-start-color, $header-gradient-end-color, 0%, 50%);

  a {
    color: #3e688c
  }
  
  color: #4d748c;

  h5, h6 {
    color: #4d748c;
  }

  .horizontal-ruler-footer {
    @extend %horizontal-ruler;
    margin: 10px 0;
    hr {
      width: 100%;
      border-top: 1px solid #315165;
      margin-top: 0px;
    }
    span {
        color: $primary-color;
    }
  }
}

footer .container {
  display: flex;
  &.copyright-logo {
    align-items: center;
    font-size: 13px;
  }

  & > div {
    flex-grow: 1;
  }

  .brand-logo {
    color: white;
    display: flex;
    align-items: center;
    float: right;

    .navbar-brand {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  img {
    height: 50px;
  }

  .copyright-label {
    color: white;
  }

  .love {
    text-align: center;
    margin: 50px auto;
    .glyphicon {
      color: #b54545;
    }
  }
}
