footer {
  height: 50px;
  @include gradient-horizontal($header-gradient-start-color, $header-gradient-end-color, 0%, 50%);
}

footer .container {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 10px;
  color: white;
  & > div {
    flex-grow: 1;
  }

  .icon-copyright-label {
    float: right;
    max-width: 260px;
  }
}
