footer {
  @include gradient-horizontal($header-gradient-start-color, $header-gradient-end-color, 0%, 50%);

  a {
    color: #3e688c
  }

  color: #4d748c;

  h5, h6 {
    color: #4d748c;
  }

  @media screen and (max-width: $screen-xs-max) {
    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }
}

footer .container {

  &.copyright-logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex-grow: 1;
  }

  .brand-logo {
    color: #4d748c;
    display: flex;
    align-items: center;
    float: right;

    .navbar-brand {
      color: #4d748c;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  img {
    height: 50px;
    opacity: 0.3;
  }

  .copyright-label {
    color: #4d748c;
  }

  .love {
    text-align: center;
    margin: 50px auto;
    .glyphicon {
      color: #b54545;
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    text-align: center;
    &.copyright-logo {
      display: block;
      font-size: 10px;
    }

    .copyright-label {
      text-align: center;
      margin-top: 20px;
    }

    .brand-logo {
      float: none;
      display: block;
      a {
        display: block;
        float: none;
      }

      img {
        height: 100px;
        margin: 0 0 20px 0;
      }
    }
  }
}
