header {
  font-weight: 500;
  font-size: 24px;

  .navbar-brand {
    font-size: 36px;
    font-weight: 700;

    span {
      font-size: 20px;
      font-weight: 300;
    }
  }

  nav {
    @include gradient-horizontal($header-gradient-start-color, $header-gradient-end-color, 0%, 50%);
  }

  .navbar-nav > li > a {
    transition: background-color $default-transition-duration;
  }

  .brand-logo {
    $brand-image-margin: 10px;
    float: left;
    max-height: $navbar-height - 2 * $brand-image-margin;
    margin: $brand-image-margin;

    @media screen and (max-width: 355px) {
      display: none;
    }
  }
}

.btn-group.current-language  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;

  button {
    background: url(../icons/flags/germany.png) no-repeat center center;
    background-size: cover;
    border-radius: 50% !important;
    border: $primary-complementary-color solid 1px;
    width: 30px;
    height: 30px;
    margin-right:10px;
    margin-left: 25px;
    &:focus {
      outline: none;
    }
  }
}