.dark-bg {
  h1, h2, h3 {
    color: white;
  }
  color: white;
}

.white-bg {
  color: $dark-p-color;

  h2 {
    color: $dark-h2-header-color;
  }

  .heading-separator {
    border-color: $dark-h2-header-color;
  }
}

.bright-bg {
  @extend .white-bg;
  background: $section-background-color;
}

.information-section {
  padding: 50px 0;
  min-height: 400px;
  display: flex;

  h1, h2, h3, h4, h5, h6 {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  a {
    max-width: 270px;
    width: 90%;
    height: 40px;
    font-size: 20px;
    line-height: 26px;
  }

  .information-icon {
    width: 80%;
    @media screen and (min-width: $screen-md-max) {
      width: 65%;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    text-align: center;
    min-height: inherit;
    padding: 20px 0 40px 0;
  }

  .row {
    display: flex;
    align-items: center;

    .text-container {
      align-self: flex-start;
    }
  }
}

.separator-line-canvas {
  position: absolute;
  $canvas-side-offset: -11px;

  &.canvas-what-is-iaeste {
    top: 58px;
    left: $canvas-side-offset;
  }

  &.canvas-top-left {
    top: 26px;
    left: $canvas-side-offset;
  }

  &.canvas-top-right {
    top: 26px;
    right: $canvas-side-offset;
    @include scaleX(-1);
  }

  &.canvas-bottom-left {
    bottom: -5px;
    left: $canvas-side-offset;
    @include scaleY(-1);
  }

  &.canvas-bottom-right {
    bottom: -5px;
    right: $canvas-side-offset;
    @include scale(-1, -1);
  }
}
