<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include favicons.html %}

    <title>{{ site.title }} | {{ page.title }}</title>

    <link href="{{ site.baseurl_root }}/assets/stylesheets/styles.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ site.baseurl_root }}/assets/javascripts/bootstrap.min.js"></script>
    <script src="{{ site.baseurl_root }}/assets/javascripts/scripts.js"></script>
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
